{% extends 'base.html.twig' %}

{% block title %}Add trick{% endblock %}
{% form_theme form _self %}

{% block body %}
<div class="container py-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={{ path('home') }}>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">New trick</li>
        </ol>
    </nav>

    <h1 class="mb-3 py-5">Add a new snowboard trick</h1>

    {{ form_start(form) }}
   <div class="row g-3">
       <div class="col-lg-7">
           {{ form_row(form.name) }}
           {{ form_row(form.category) }}
       </div>
        <div class="col-lg-5 g-3 px-auto">
            {{ form_row(form.fileMainPicture) }}
        </div>
   </div>
    <div class="row">
        <div class="col g-3">
         {{ form_row(form.description) }}
        </div>
    </div>


    <div class="row my-lg-5 bg-light">
        <h3>Add medias</h3>
            {{ form_row(form.pictures) }}
            <div class="form-group">
                <button type="button" id="add-picture" class="btn btn-secondary">Add a picture</button>
            </div>
             {{ form_row(form.videos) }}
             <div class="form-group">
                 <button type="button" id="add-video" class="btn btn-secondary">Add a video</button>
             </div>

    </div>
    <div class="py-3 d-grid gap-2 col-3">
        <button class="btn-lg btn action-button my-lg-3" type="submit">Let's go</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block _add_trick_pictures_entry_row %}
   {{ form_widget(form) }}
{% endblock %}

{% block _add_trick_pictures_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.file) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-danger" type="button" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _add_trick_videos_entry_row %}
   {{ form_widget(form) }}
{% endblock %}

{% block _add_trick_videos_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-danger" type="button" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

<script>
    $('#add-picture').click(function(){
        console.log('click');
        const index=$('#add_trick_pictures div.form-group').length;
        const tmpl= $('#add_trick_pictures').data('prototype').replace(/__name__/g, index);
        $('#add_trick_pictures').append(tmpl);

        handleDeleteButtons() ;
    });

    $('#add-video').click(function(){
        console.log('click');
        const index=$('#add_trick_videos div.form-group').length;
        const tmpl= $('#add_trick_videos').data('prototype').replace(/__name__/g, index);
        $('#add_trick_videos').append(tmpl);

        handleDeleteButtons(); 

    });

    function handleDeleteButtons() {
        $('button[data-action="delete"]').click(function(){
            const target=this.dataset.target;
             $(target).remove();
        });
    }
</script>
{% endblock %}