{% extends 'base.html.twig' %}

{% block title %}Edit a trick{% endblock %}

{% block body %}
    <!--main container-->
    <div class="container">

        <!--main image and trick's name-->
        {{ form_start(form) }}

        <!--main image and trick's name-->
        <div class="row g-3 pb-5">
            <div class="col-lg-7">
                <h1>{{ form_row(form.name) }} </h1>
                <p>Change the main picture</p>
                <img src="{{ asset('uploads/'~ trick.mainPicture) }}">
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" class="btn btn-danger" onclick="return confirm('Do you really want to delete this trick?')"><i class="fas fa-trash-alt"></i></a>
                    </div>
            </div>
        </div>

        <!--medias-->

        <h3>Media</h3>
        <div class="row row-cols-3">
            {% for picture in trick.pictures %}
                <div>
                    <img src="{{ asset('uploads/'~ picture.fileName)}}" class="img-thumbnail" alt="{{ picture.title }}">
                    <div class="btn-group">
                        <a href="{{ path('edit_picture', { 'id':picture.id, 'tricks': trick.id }) }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('delete_picture', {'id': picture.id}) }}" class="btn btn-danger" onclick="return confirm('Do you really want to delete this trick?')"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div>
                    <iframe width="560" height="315" src="{{ video.url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="btn-group">
                        <a href="{{ path('edit_video', {'id': video.id, 'tricks': trick.id}) }}" class="btn btn-primary" ><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('delete_video', {'id': video.id}) }}" class="btn btn-danger" onclick="return confirm('Do you really want to delete this trick?')"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                {% endfor %}
        </div>

        <!--description et category-->
        <div class="container">

            <div class="row">
                <div class= "col-md-10">
                    <h2> Description </h2>
                    {{ form_row(form.description) }}
                </div>
            </div>

            <div class="row">
                <div class= "col-md-10">
                    {{ form_row(form.category) }}
                </div>
            </div>
        </div>

        <div class="col-2">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" href="{{ path('delete_trick', {'id': trick.id}) }}" onclick="return confirm('Do you really want to delete this trick?')">Delete</button>
        </div>
    </div>

{% endblock %}