{% extends 'base.html.twig' %}

{% block title %}Snowtricks - {{ trick.name }}{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-3 py-3">
            <li class="breadcrumb-item"><a href={{ path('home') }}>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ trick.name }}</li>
        </ol>
    </nav>

    <!--main image and trick's name-->
    <section class="main-picture py-3 text-center container position-relative">
        <div class="trick-main py-lg-5" style="background-image:url({{ asset('uploads/'~ trick.mainPicture) }}">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="float-end">
                    {% if app.user %}
                        <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="btn btn-primary my-2"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('delete_trick', {'id': trick.id}) }}" class="btn btn-danger my-2" onclick="return confirm('Do you really want to delete this trick?')"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                </p>
                <h1 class="trick-title position-absolute  top-50 start-50 translate-middle">{{ trick.name }}</h1>
            </div>
        </div>
    </section>


    <!--medias-->
    <section class="media">

        <div class="album py-5 bg-light">
            <div class="container">
                <button class="btn action-button btn-lg mx-auto mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#medias" aria-controls="medias" aria-expanded="false">
                    <i class="far fa-eye"></i> See medias
                </button>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 collapse" id="medias">
                    {% for picture in trick.pictures %}
                            <img src="{{ asset('uploads/'~ picture.fileName)}}" class="img-thumbnail trick-thumbnail" alt="{{ picture.title }}">
                    {% endfor %}
                    {% for video in trick.videos %}
                            <iframe width="420" height="394" src="{{ video.url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!--Trick's details-->
    <div class="py-5 trick-description container">
        <div class="row">
            <div class= "col-md-10 mb-lg-4 mx-auto">
                <p class="text-wrap">{{ trick.description }}</p>
            </div>
        </div>

        <div class="row mt-5 justify-content-md-center">
            <div class= "col-md-10 d-flex justify-content-around">
                <span class="badge">{{ trick.category.name }}</span>
                <p class="text-blue">Author: {{ trick.user.username }}, le {{ trick.creationDate|date("d/m/Y à H:i:s") }}{{ trick.modificationDate is not empty ?  " | mis à jour le " ~trick.modificationDate|date("d/m/Y à H:i:s") : "" }} </p>
            </div>
        </div>
    </div>
    <hr>

    <!--chat room-->
    <div class="py-5 mx-auto chat container">

            {% if app.user %}
                    <div class="mb-3">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="my-2 btn action-button" type="submit">Publish</button>
                        {{ form_end(form) }}
                    </div>
            {% else %}
                <p>To let a comment please
                    <a href="{{ path('user_login') }}">sign in</a>
                    or join us and
                    <a href="{{ path('user_registration') }}">sign up</a>
                </p>
            {% endif %}

            <hr>

        <h2>Comments</h2>
            {% if trick.comments|length >0 %}
                {% for comment in paginator.data %}
                    <div class="row profile bg-light rounded mb-3">
                        <div class="col-lg-1 my-auto">
                            <img src="{{ asset('uploads/'~ comment.user.photo)}}" class="img-thumbnail" alt="{{ comment.user.username }}">
                        </div>
                        <div class="col-lg-11 text-start">
                            <p class="text-bold">{{ trick.user.firstName}} {{ trick.user.lastName}}, le {{ comment.creationDate|date("d/m/Y à H:i:s") }}</p>
                            <blockquote>
                                <p>{{ comment.content }}</p>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}

                <div class="d-flex justify-content-center">
                    {% set page = paginator.page %}
                    {% set pages = paginator.pages %}
                    <ul class="pagination">
                        <li class="page-item {% if page ==1 %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('trick_details', {'id':trick.id, 'page': page -1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {%  for i in 1..pages %}
                            <li class="page-item {% if page==i %}active{% endif %}">
                                <a class="page-link" href="{{ path('trick_details', {'id':trick.id, 'page':i}) }}">{{ i }}</a>
                            </li>
                        {%  endfor %}
                        <li class="page-item {% if page == pages %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('trick_details', {'id':trick.id,'page': page +1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>

            {% else %}
                <p>Be the first one to comment this trick !</p>

            {% endif %}

        </div>
    </div>

{% endblock %}
