{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}

<section class="main-banner py-5 text-center">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="main-title">Snowtricks</h1>
      <p class="lead-text">Join the community of snowboard tricks</p>
    </div>
  </div>
</section>

<section class="tricks-list py-5 px-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="tricks">
    {% for trick in paginator.data %}
    <div class="col">
      <div class="tricks card shadow-sm mx-3 mb-3">
        <img src="{{ asset('uploads/'~ trick.mainPicture)}}" class="img-thumbnail trick-thumbnail" alt="{{ trick.name }}">
        <div class="card-body">
          <h2><a href="/trick/details/{{ trick.id }}">{{ trick.name }}</a></h2>
          <div class="row">
            <div class="col text-start">
              <p><span class="badge">{{ trick.category.name }}</span></p>
            </div>
            <div class="col icons text-end">
              {% if app.user %}
                <a href="{{ path('edit_trick', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                <a href="{{ path('delete_trick', {'id': trick.id}) }}" onclick="return confirm('Do you really want to delete this trick?')"><i class="fas fa-trash-alt"></i></a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!--pagination-->
  <div class="d-flex justify-content-center">
    {% set page = paginator.page %}
    {% set pages = paginator.pages %}
    <ul class="pagination">
      <li class="page-item {% if page ==1 %}disabled{% endif %}">
        <a class="page-link" href="{{ path('home', {'page': page -1}) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {%  for i in 1..pages %}
      <li class="page-item {% if page==i %}active{% endif %}">
        <a class="page-link" href="{{ path('home', {'page':i}) }}">{{ i }}</a>
      </li>
      {%  endfor %}
      <li class="page-item {% if page == pages %}disabled{% endif %}">
        <a class="page-link" href="{{ path('home', {'page': page +1}) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}