<!doctype html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/262af37180.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="{{ asset('style.css') }}" rel="stylesheet"/>
        <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Fifth navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo-snowtricks.png') }}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home#tricks">Tricks list</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('add_trick') }}">Add a new trick</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('account_profile') }}">My account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_login') }}">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_registration') }}">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class= "message">
        {% for label, messages in app.flashes %}
            <div class= "container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                </div>
            </div>
                    {% endfor %}
        {% endfor %}
    </section>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> {% endblock %}
        <p class="float-end mx-5">
            <a href="#" class="arrow"><i class="fas fa-arrow-circle-up"></i></a>
        </p>
    </body>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <p class="text-muted">Snowtricks copyright@EdwigeGC</p>
        </div>
    </footer>

</html>
